# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Streamlit
.streamlit/

# Entornos virtuales
venv/
env/
ENV/
.venv/
.ENV/

# Archivos de sistema y usuario
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo

# Archivos de configuración de VSCode
.vscode/

# Archivos de usuario de Windows
*.lnk

# OneDrive y carpetas de usuario
/OneDrive*/
